@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.external-radio {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.txt-top-radio > span {
    font-size: 12px;
}
#star {
    color: red;
}


.internal-radio {
    border-radius: 42px;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    min-width: 330px;
    width: max-content;
    height: max-content;
}

.internal-radio ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.internal-radio ul li {
    padding: 12px 18px;
}
.internal-radio ul li label input {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
}

.internal-radio ul li label input:checked {
    background-color: #697386;
    border-color: #697386;
}

/* .internal-radio ul li label:hover, .internal-radio ul li input:hover{
    cursor: pointer;
} */

.internal-radio ul *:hover, .internal-radio ul li *:hover {
    cursor: pointer;

}

.internal-radio ul li label{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    line-height: 15px;
    font-weight:normal;
    font-family: 'Inter', sans-serif;
}
