.txt-external {

}
.txt-internal {
    
}
.txt-top {

}
.txt-top > span {
    font-size: 12px;
}
#star {
    color: red;
}
.txt-internal input {
    border-radius: 42px;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 1px;
    outline: none;
}
.txt-internal input:focus {
    border-color: rgba(0, 0, 0, 0.70);
}